{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Архив всех статей блога. Список публикаций с кратким содержанием.">
        <meta name="keywords" content="блог, статьи, архив, публикации">
        <title>Архив всех статей</title>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body class="archive-page">
        <header class="header">
            <img src="{% static 'img/dpb-logo.png' %}"
                 alt="Логотип проекта"
                 height="auto"
                 width="auto" />
        </header>
        <main class="content">
            {% for post in posts %}
                <article class="one-post">
                    <h2 class="post-title">
                        <a href="{% url 'get_article' article_id=post.id %}">{{ post.title }}</a>
                    </h2>
                    <div class="article-info">
                        <span class="article-author">{{ post.author.username }}</span>
                        <time class="article-created-date"
                              datetime="{{ post.created_date|date:'Y-m-d' }}">
                            {{ post.created_date|date:"j E Y" }}
                        </time>
                    </div>
                    <p class="article-text">{{ post.get_excerpt }}</p>
                </article>
            {% endfor %}
        </main>
    </body>
</html>
