body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

h1 {
    font-family: serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

p {
    font-size: 22px;
    margin-bottom: 0;
}

h4 {
    font-size: 14px;
    margin-bottom: 0;
}

ul, ol {
    margin: 0;
}

table tr td {
    padding: 5px;
}