{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ post.get_excerpt }}">
        <meta name="keywords" content="блог, статьи, архив, публикации">
        <title>{{ post.title }}</title>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body class="article-page">
        <header class="header">
            <img src="{% static 'img/dpb-logo.png' %}"
                 alt="Логотип проекта"
                 height="auto"
                 width="auto" />
            <div class="header-links">
                <a href="{% url 'archive' %}" class="all-articles">Все статьи</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'new_article' %}" class="all-articles">Написать статью</a>
                    <a href="{% url 'logout' %}" class="all-articles">Выйти</a>
                {% else %}
                    <a href="{% url 'register' %}" class="all-articles">Регистрация</a>
                    <a href="{% url 'login' %}" class="all-articles">Войти</a>
                {% endif %}
            </div>
        </header>
        <main class="content">
            <article class="one-post">
                <h1 class="post-title">{{ post.title }}</h1>
                <div class="article-info">
                    <span class="article-author">{{ post.author.username }}</span>
                    <time class="article-created-date"
                          datetime="{{ post.created_date|date:'Y-m-d' }}">
                        {{ post.created_date|date:"j E Y" }}
                    </time>
                </div>
                <div class="article-text">{{ post.text|linebreaks }}</div>
            </article>
        </main>
    </body>
</html>
