{% extends 'base.html' %}
{% load static %}
{% block title %}Архив всех статей{% endblock %}
{% block description %}Архив всех статей блога. Список публикаций с кратким содержанием.{% endblock %}
{% block keywords %}блог, статьи, архив, публикации{% endblock %}
{% block body_class %}archive-page{% endblock %}
{% block content %}
    {% for post in posts %}
        <article class="one-post">
            <h2 class="post-title">
                <a href="{% url 'get_article' article_id=post.id %}">{{ post.title }}</a>
            </h2>
            <button class="fold-button">свернуть</button>
            <div class="article-info">
                <span class="article-author">{{ post.author.username }}</span>
                <time class="article-created-date"
                      datetime="{{ post.created_date|date:'Y-m-d' }}">
                    {{ post.created_date|date:"j E Y" }}
                </time>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
            <div class="one-post-shadow"></div>
        </article>
    {% endfor %}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/highlight-post.js' %}"></script>
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
{% endblock %}
