{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.get_excerpt }}{% endblock %}
{% block body_class %}article-page{% endblock %}
{% block content %}
    <article class="one-post">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="article-info">
            <span class="article-author">{{ post.author.username }}</span>
            <time class="article-created-date"
                  datetime="{{ post.created_date|date:'Y-m-d' }}">
                {{ post.created_date|date:"j E Y" }}
            </time>
        </div>
        <div class="article-text">{{ post.text|linebreaks }}</div>
    </article>
{% endblock %}
