{% extends 'base.html' %}
{% load static %}
{% block title %}Django Public Blog - вход{% endblock %}
{% block description %}Страница входа для пользователей.{% endblock %}
{% block keywords %}блог, вход, авторизация{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block content %}
    <h1 class="post-title">Авторизация</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text"
                   name="username"
                   placeholder="Имя пользователя"
                   value="{{ form.username|default:'' }}">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Пароль">
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="submit-button">
        </div>
    </form>
    {% if form.errors %}
        <div class="errors">{{ form.errors }}</div>
    {% elif form.error %}
        <div class="errors">{{ form.error }}</div>
    {% endif %}
{% endblock %}
